{% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet" href="{% static 'profile.css' %}">
    </head>
    <body>

    <div class="profile-container">

        <div class="profile-header">
             {% for profile in profiles %}
            <div class="profile-image">
                <img src="{{ profile.image.url }}" width="150">
            </div>
           
            <div class="profile-info">
                <h2>{{profile.name}}</h2>

                <div class="stats">
                    <div>
                        <h3>25</h3>
                        <p>Posts</p>
                    </div>

                    <div>
                        <h3>{{profile.followers}}</h3>
                        <p>Followers</p>
                    </div>

                    <div>
                        <h3>{{profile.following}}</h3>
                        <p>Following</p>
                    </div>
                </div>

                <button>Edit Profile</button>
            </div>

        </div>

        <div class="bio">
            <h4>{{profile.bio}} </h4>
            <p>{{profile.bio}} </p>
            <p>{{profile.bio}} </p>
        </div>

        <hr>
        {% endfor %}
        <div class="posts">

            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>

        </div>

    </div>

    </body>
    </html>
    
  